<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anna's .NET projects</title>
    <link href="headers.css" rel="stylesheet">
    <link rel="icon" type="imagem/png" href="~/iconapp.ico" />
    <style>
            .myicon {
        background: url("~iconapp.ico");
        height: 20px;
        width: 20px;
        display: block;
       
    }
  </style>
</head>
<body>
      <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        
        <span class="fs-4">Anna's personal page</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a asp-action="index" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
      </ul>
    </header>
  </div>
    <div class="col-lg-8 mx-auto p-3 py-md-5">
        @RenderBody()
    </div>
</body>
</html>
