@model MeuPrimeiroProjeto.Models.Product
<html>
<head>
    <meta charset="utf-8" />
    <title>Register products</title>
        <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css" />
</head>
<body>
    <h3> Register products</h3>

    <a  class="btn btn-info" asp-action="Result">See partial results</a>
    
</body>
</html>