@model IEnumerable<Product>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css" />
</head>
<body>
     <div> 
        <h2> List of products</h2>
    </div>
</body>
</html>