<html>
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css"

</head>
<body>
    <h1>Enquete Web</h1>
    <h2> Você faria uma viagem sem volta para marte ?</h2>
    <p>
        <a asp-action="Responder"> Responder agora!</a>
        <a asp-action="Resultado">Ver resultados parciais</a>
    </p>
</body>
</html>