@model MeuPrimeiroProjeto.Models.Resposta
<html>
<head>
    <meta charset="utf-8" />
    <title> Survey: Thank you!</title>
    <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css" />
</head>
<body>
    <div>
        <h2>Thank you for answering! </h2>
                    
            <a  class="btn btn-info" asp-action="Resultado">See partial results</a>
        
    </div>
</body>
</html>