@model MeuPrimeiroProjeto.Models.Resposta
<html>
<head>
    <meta charset="utf-8" />
    <title>Survey - would you take a one-way trip to Mars?</title>
        <link rel="stylesheet" href="/lib/bootstrap5/dist/css/bootstrap.css" />
</head>
<body>

 
    <h3> Answer now!</h3>

    <h5> Would you ever take a one-way trip to Mars?</h5>
    
    <form method="POST">
        <div class="form-group" asp-validation-summary="All">
            <label asp-for="Name"> Your name:</label>
            <input asp-for="Name" class="form-control">
        </div>
        <div class="form-group">
            <label asp-for="Email"> E-mail:</label>
            <input asp-for="Email" class="form-control">
        </div>
        <div>
            Answer:
            <div class="form-check form-check-inline">
                <input type="radio" id="rdYes" asp-for="Yes" value="true" />
                <label for="rdYes">Yes</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" id="rdNo" asp-for="Yes" value="false" />
                <label for="rdNo">No</label>
            </div>
            
        </div>
        
    <input type="submit" class="btn btn-primary" value="Submit" />
    <a  class="btn btn-info" asp-action="Resultado">See partial results</a>
    </form>

</body>
</html>